[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cruft = "*"
ipython = "*"
mypy = ">1.2"
pip-licenses = "*"
pip-tools = "*"
ruff = ">0.2.1"

[dev-packages]
build = ">0.8"
coverage = ">5"
hypothesis = ">5"
pytest = ">5"
twine = ">3"

[requires]
python_version = "3.11.4"

